{% extends "base.html" %}
{% block sidebarcontent %}  
<h3>Name</h3>
<p>Responsibuild</p>
<h3>Created</h3>
<p>December, 2012</p>
<h3>Mission</h3>
<p>Create a single site where members of the public and experts can go to get accurate, timely information on sustainable rebuilding practices.</p>
<h3>Purpose of this site</h3>
<p>To crowdsource best practices and to create a community that can be a landing page for sustainability.</p>
{% endblock %}

{% block bodycontent %}
<h2>Respond responsibly and rebuild!</h2>

<h3>About Responsibuild:</h3>

<p>Helping disaster victims recover in an economic and ecologically sustainable way.</p>

<p>After the storm, the victims of Hurricane Sandy and other natural disasters inevitably have to rebuild.  Your home is where the heart is…why not use this opportunity to create a healthier, more sustainable living space?</p>

<p>Our Responsibuild hub will showcase best practices ranging from rebuilding your basement with better materials to what kind of mold-resistant paint to buy when you go to your local store.</p>

<p>Responsibuild will allow you to take your life back into your own hands.</p>

<p>We leverage the expertise of organizations like The US Green Building Council, The Salvation Army’s Envirenew program, Nyserda, Architecture for Humanity, Make It Right Foundation, and case studies in design, architecture and engineering to help you navigate the crowded space of building materials.   Our contributors are collaborating to crowdsource the best answers to the hardest questions.  We attempt to be as transparent as possible with our processes and welcome any and all voices.</p>

<p>By building and managing this site, we’ll help drive those of you in the recovery and rebuilding stages to the best options for sustainably reconstructing your home and community in the best way both ecologically and economically.</p>

{% endblock %}

