{% extends "base.html" %}
{% block sidebarcontent %} 

{% endblock %}

{% block bodycontent %}
        <div id="map"></div>

      <script>
                var lat = 40.6501038
                var lng = -73.8495823
var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade, Points &copy 2012 LINZ',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 17, attribution: cloudmadeAttribution}),
                        latlng = new L.LatLng(lat, lng);

                var map = new L.Map('map', {center: latlng, zoom: 11, layers: [cloudmade]});

                var markers = new L.MarkerClusterGroup();
                var latLngList = [new L.LatLng(lat, lng)];

                {% for result in organization_results %}
                try{ 
                        var result_lat = {{ result.lat }};
                        var result_lng = {{ result.lng }};
                        var title = "<a href='?organization={{result.name}}'>{{result.name}}</a><br/>{{result.address}}";
                        var new_latlng = new L.LatLng(result_lat, result_lng);
//                         alert(new_latlng);
                        latLngList.push(new_latlng);
                        var marker = new L.Marker(new L.LatLng(result_lat, result_lng), { title: title });
                        marker.bindPopup(title);
                        markers.addLayer(marker);

                } catch(e) {
//                 alert(e.name + e.message);
                }
                
                    
                {% endfor %}
                var last_bounds = L.LatLngBounds(latLngList);
//                 alert(last_bounds);
                var last_list;
                for (var j = 0; j < latLngList.length; j++) {
//                     alert(j);
//                     alert(latLngList[j]);
                    
                }


//                 latLngList.pop();
//                 alert("popped");
                try{
//                 map.fitBounds(latLngList);
                } catch(e) {
                alert(e.name + e.message);
                
                }
//                 alert(map.getSize());   
// alert(latLngList[1]);
// alert(latLngList[6]);
// var pointA = latLngList[2];
// var pointB = latLngList[6];
// var pointList = [pointA, pointB];
// 
// var firstpolyline = new L.Polyline(pointList, {
// color: 'red',
// weight: 3,
// opacity: 0.5,
// smoothFactor: 1
// 
// });
// firstpolyline.addTo(map);
//                 var polyline = L.polyline(latLngList, {color: 'red'}).addTo(map);
// //                 alert(polyline);
//                 map.fitBounds(polyline.getBounds());
                map.fitBounds(latLngList);
                map.addLayer(markers);
//                 L.circle(latLngList[1], 20000).addTo(map);
//                 alert(3);       


        </script>
{% endblock %}
