{% extends "base.html" %}
{% block bodycontent %} 
<h3>{{ name }}</h3>
<form action="/organization_info" class="form"  method="post">
<fieldset>
<div>
<label for="email" class="label">email</label>
<input type="text" class="input" name="email" />
</div>
<br/>
<div>
<label for="street_address" class="label">Address</label>
<input type="text" class="input" name="street_address" />
</div>
<br/>
<div>
<label for="city" class="label">City</label>
<input type="text" class="input" name="city" />
</div>
<br/>
<div>
<label for="state" class="label">State</label>
<input type="text" class="input" name="state" />
</div>
<br/>
<div>
<label for="country" class="label">Country</label>
<input type="text" class="input" name="country" />
</div>
<br/>
<label for="notes" class="label">Describe your organization</label>
<textarea name="notes" class="input2" rows="20" ></textarea>
<br/>
<input type="hidden" name="name" value="{{ name }}">
<div align="center">
<button class="submit">Finished</button>
</div>
<br/>
<p>Not a member? <a href="?member_sign_up=True">Join here.</a></p>

</fieldset>
{% endblock %}
{% block sidebarcontent %}
<p>Hello, and thanks for signing up!</p>
{% endblock %}